

<div class = main >
  <div class = center >
    <div class = left-bar >
      <h1>TIMECARD</h1>
      <ul>
        <li class = li1><%= link_to "社員一覧" %></li>
      </ul>
      <% if user_signed_in? %>
        <div> <%= "#{current_user.nickname}さん、おはようございます！" %> </div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>

    <div class = right-main >
      <div class = company >〇〇会社</div>
      <div>出勤中</div>

    </div>
  </div>
</div>